<!DOCTYPE html>
<html lang="en" ng-app="app">

    <head>
        <meta charset="UTF-8">
        <title>Leningrad United</title>
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" type="text/css"
        media="all" />
        <link rel="stylesheet" href="src/css/main.css" type="text/css" media="all" />

        <script src="lib/jquery/dist/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <script src="lib/angular/angular.js" type="text/javascript" charset="utf-8"></script>
        <script src="lib/angular-bootstrap/ui-bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js" type="text/javascript"
        charset="utf-8"></script>

        <script src="src/js/main.js" type="text/javascript" charset="utf-8"></script>
    </head>

    <body ng-controller="MainController">
        <div class="container-fluid">
            <div class="col-xs-12 col-md-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th ng-repeat="time in timeFrames">
                                {{time}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="comunity in comunityList" ng-class="{selected: comunity.name === focusComunity.name}"
                            ng-mouseover="onFocusComunity(comunity)">
                            <th>
                                <center>
                                    {{comunity.name}}
                                </center>
                            </th>

                            <td ng-repeat="box in comunity.speechBoxes">
                                <div>
                                    {{box.title}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-6 col-md-4">
                <div ng-if="focusComunity">
                    <h4>
                        {{focusComunity.name}}
                    </h4>
                    <hr/>

                    <dl class="dl-horizontal dl-speech-list">
                        <dt ng-repeat-start="box in focusComunity.speechBoxes">
                            {{box.time}}
                        </dt>
                        <dd ng-repeat-end>
                            <input type="text" class="edit-comunity-name" ng-model="box.title"/>
                        </dd>
                    </dl>
                    <hr/>

                    <button class="btn btn-default">Хочу выступить</button>
                </div>
            </div>
        </div>
    </body>
</html>
